<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Cater" connectionString="data source=E:\学习用\项目练习\sqllite数据库操作\ItCast.db;version=3;"/>
	</connectionStrings>
</configuration>